doctype html
html(lang='en')
    include _header

    body
        include _navbar
        .container
            .card.mt-5
                .card-header
                    | Details member
                .card-body
                    .row
                        .col-8
                            .row.text-center.justify-content-center
                                .col-7
                                    h5.card-title Number Membership
                                    .alert.alert-primary(role='alert')
                                        strong= details.clientId
                            .details
                                .row.align-items-center
                                    .col-auto
                                        | Name:
                                    .col= (details.firstName + ' ' + details.lastName) 
                                    .w-100
                                    .col-auto
                                        | Status Subscription:
                                    .col-2
                                        .alert.alert-success(role='alert')
                                            strong Active
                                    .w-100
                                    .col-auto
                                        | session number
                                    .col-auto
                                        .alert.alert-primary(role='alert')
                                            strong 12
                                    .col-auto
                                        | current
                                    .col-auto
                                        .alert.alert-danger(role='alert')
                                            strong 7
                                    .col-auto
                                        | rest
                                    .col-auto
                                        .alert.alert-success(role='alert')
                                            strong 5
                                    .w-100
                                    .col-auto
                                        button.btn.btn-primary  Show History
                        .col-4.text-center.border-left-1
                            .row.h-100
                                .col-12
                                    h5 State Member
                                    .state-member.alert-success
                                        | Active
                                .col-auto Date membership
                                .col= details.startMemberDate
                                .w-100
                                .col-auto End membership
                                .col= details.endMemberDate
                                .w-100
                                .col-auto.mr-auto.align-self-end
                                    form(action="/delete-member", method="post")
                                        input.btn.btn-danger(type='submit', value='Delete Member')
                                .col-auto.ml-auto.align-self-end
                                    button.btn.btn-primary  Edit/ Renew
            hr
            .current-history
                table.table.table-hover.table-striped.table-bordered
                    thead.thead-dark
                        tr
                            th(scope='col') #
                            th(scope='col') Start Month
                            th(scope='col') End Month
                            th(scope='col') Session numbers
                    tbody
                        each val in subscribe
                            tr
                                td= details.clientId
                                td= val.startMonth
                                td= endMonth.endMonth
                                td= val.sessionsNumber
                    

        include _scripts
