doctype html
html(lang='en')
    include _header
    body.details-member
        include _navbar
        .container
            .card.shadow-lg
                .card-header.shadow-sm
                    h4 Membership information 
                .card-body
                    .row.justify-content-center
                        if message
                            .col-7
                                .alert.alert-success.alert-dismissible.fade.show.shadow-lg(role='alert')
                                    strong #{message} 
                                    button.close(type='button' data-dismiss='alert' aria-label='Close')
                                        span(aria-hidden='true') &times;

                        .col-12.col-lg-6.col-xl-7.mb-2.mb-lg-0
                            .state-membership.shadow-sm
                                .row.align-items-baseline
                                    .col-4.col-lg-5.col-xl-4
                                        h6.card-title.text-right Member ID
                                    .col-8.col-lg-7.col-xl-8
                                        .alert.alert-primary.shadow-sm(role='alert')
                                            strong.clientID #{details.clientId}

                                    .col-4.col-lg-5.col-xl-4
                                        h6.card-title Name
                                    .col-8.col-lg-7.col-xl-8
                                        .alert.alert-primary.shadow-sm(role='alert')
                                            strong #{`${details.firstName} ${details.lastName}`}

                                    .col-4.col-lg-5.col-xl-4
                                        h6.card-title Subscription Status
                                    .col-8.col-lg-7.col-xl-8
                                        if !details.statusMonthly || details.restSession == 0
                                            .alert.alert-danger.shadow(role='alert')
                                                strong  (You have to add a new session)
                                        else
                                            .alert.alert-success.shadow(role='alert')
                                                strong Active

                                    if details.endSubscriptionMonthly
                                        .col-4.col-lg-5.col-xl-4
                                            h6.card-title Subscription Date
                                        .col-8.col-lg-7.col-xl-8
                                            .alert.alert-primary.shadow-sm(role='alert')
                                                strong #{details.startSubscriptionMonthly.toISOString().substring(0,10)}
                                            
                                    if details.endSubscriptionMonthly
                                            .col-4.col-lg-5.col-xl-4
                                                h6.card-title Subscription Expiry
                                            .col-8.col-lg-7.col-xl-8
                                                .alert.alert-primary.shadow-sm(role='alert')
                                                    strong #{details.endSubscriptionMonthly.toISOString().substring(0,10)}
                                
                                    if details.endSubscriptionMonthly
                                        .col-auto.col-lg-5.col-xl-auto
                                            h6.card-title Total Sessions
                                        .col-2.col-lg-7.col-xl-auto
                                            .alert.alert-primary.shadow-sm(role='alert')
                                                strong #{details.totalSessions} 
                                        .col-auto.col-lg-3.col-xl-auto
                                            h6.card-title current
                                        .col-2.col-lg-3.col-xl-2
                                            .alert.alert-danger.shadow-sm(role='alert')
                                                strong #{details.currentSession}
                                        .col-auto.col-lg-3.col-xl-auto
                                            h6.card-title remain
                                        .col-2.col-lg-3.col-xl-2
                                            .alert.alert-success.shadow-sm(role='alert')
                                                strong #{ details.restSession}
                                        
                        .col-12.col-lg-6.col-xl-5.text-center
                            .state-membership.shadow-sm
                                .row.align-items-baseline.h-100
                                    .col-5
                                        h6.card-title Membership Status
                                    .col-7
                                        if !details.statusMembership
                                            .state-member.alert-danger.shadow
                                                | Expired 
                                        else
                                            .state-member.alert-success.shadow
                                                | Active
                                    .col-5 
                                        h6.card-title Membership Date
                                    .col-7
                                        .alert.alert-primary.shadow-sm(role='alert')
                                            strong #{details.membershipStartingDate.toISOString().substring(0,10)}
                                    
                                    .col-5 
                                        h6.card-title Membership Expiry
                                    .col-7
                                        .alert.alert-primary.shadow-sm(role='alert')
                                            strong #{details.membershipExpiryDate.toISOString().substring(0,10)}
            
                                    .col-auto.mr-auto.align-self-end
                                        // Button trigger modal
                                        button.btn.btn-danger.shadow(type='button' data-toggle='modal' data-target='#exampleModal')
                                            | Delete Member
                                        // Modal
                                        #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
                                            .modal-dialog(role='document')
                                                .modal-content
                                                    .modal-header
                                                        h5#exampleModalLabel.modal-title Deleting Member
                                                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                                                        span(aria-hidden='true') &times;
                                                    .modal-body
                                                        p Do you wanto to delete #{` ( ${details.firstName} ${details.lastName} )`} ?
                                                    .modal-footer
                                                        button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
                                                        form(action="/delete-member", method="post")
                                                            input(type='hidden' value=details.clientId, name='clientId')
                                                            input.btn.btn-danger(type='submit', value='Delete')
                                                        
                                        
                                    .col-auto.ml-auto.align-self-end
                                        a(href=`/edit-member/${details.clientId}`).btn.btn-primary.shadow  Edit / Renew
                        .col-12
                            .rest-session.shadow-sm
                                h6 Add a New Session 
                                .row
                                    .col-8.col-lg-7
                                        form(action="/new-session", method="post")
                                            - var cDate = new Date();
                                            - var today = new Date().toISOString().slice(0, 10).slice(8, 10);
                                            - var validate = new Date(cDate.getFullYear(), cDate.getMonth() + 1).toISOString().slice(0, 10).slice(8, 10);
                                                if details.totalSessions 
                                                    - var validateInput = parseInt(validate) - details.totalSessions;
                                                else 
                                                    - validateInput = parseInt(validate) - parseInt(today);

                                            .form-group.row.ml-1
                                                input#clientId.form-control.mr-5.col-auto(type='hidden', name="clientId" , value=details.clientId)
                                                input#addNewSession.form-control.mr-5.col-5.col-lg-3(type='number', name="addNewSession", min="1", max=validateInput, required)
                                                input(type="submit", value="Add").btn.btn-primary.col-auto.shadow 
                    
                                    .col-4.col-lg-5
                                        a(href=`/history-member/${details.clientId}`).ml-4.btn.btn-info.shadow  Show History

        .container
            if details.statusMonthly
                .details-training
                    h4 Sessions  Details 
                        small.text-center.text-primary.font-weight-bold  #[span.text-dark.font-weight-bold (] #{details.startSubscriptionMonthly.toISOString().substring(0,10)} #[span.text-dark.font-weight-bold To]  #{details.endSubscriptionMonthly.toISOString().substring(0,10)} #[span.text-dark.font-weight-bold )]
                    hr
                    .rest-session.shadow
                        h5.alert-alert-warning Remaining Sessions
                        .row
                            - for (var i = 0; i < details.restSession; i++)
                                .col-auto
                                    .train-number
                                        .alert.alert-dark(role='alert')
                                            .custom-control.custom-checkbox
                                                input.custom-control-input(type='checkbox', id='customCheck'+i)
                                                label.custom-control-label(for='customCheck'+i) session #{i+1}
                            
                    if details.currentSessionArr
                        .rest-session.shadow
                            h5 Attended sessions
                            .row
                                each val in details.currentSessionArr
                                    .col-auto
                                        .train-number
                                            .alert.alert-success(role='alert') #{val.date.toISOString().substring(0,10)}

        include _scripts