doctype html
html(lang='en')
    include _header

    body
        include _navbar
        .container
            .card.mt-5
                .card-header
                    | History member
                .card-body
                    .row
                        .col-8
                            .row.text-center.justify-content-center
                                .col-7
                                    h5.card-title Number Membership
                                    .alert.alert-primary(role='alert')
                                        strong= details.clientId
                            .details
                                .row.align-items-center
                                    .col-auto
                                        | Name:
                                    .col= (details.firstName + ' ' + details.lastName)
                                    .w-100
                                    .col-auto
                                        | Status Subscription:
                                    .col-2
                                        .alert.alert-success(role='alert')
                                            strong Active
                        .col-4.text-center
                            .row.h-100
                                .col-12
                                    h5 State Member
                                    .state-member.alert-success
                                        | Active
            hr
            .current-history
                table.table.table-hover.table-striped.table-bordered
                    thead.thead-dark
                        tr
                            th(scope='col') #
                            th(scope='col') Start Month
                            th(scope='col') End Month
                            th(scope='col') Session numbers
                    tbody
                        each val in subscribe
                            tr
                                td= details.clientId
                                td= val.startMonth
                                td= endMonth.endMonth
                                td= val.sessionsNumber

        include _scripts
