doctype html
html(lang='en')
    include _header

    body
        include _navbar
        .container
            .card.shadow-lg
                .card-header.shadow-sm
                    h4 Member History
                .card-body
                    .row
                        .col-12.col-lg-7.mb-2.mb-lg-0
                            .state-membership.shadow-sm
                                .row.align-items-baseline
                                    .col-4
                                        h6.card-title.text-right Member ID
                                    .col-8
                                        .alert.alert-primary.shadow-sm(role='alert')
                                            strong.clientID #{details.clientId}

                                    .col-4
                                        h6.card-title.text-right Name
                                    .col-8
                                        .alert.alert-primary.shadow-sm(role='alert')
                                            strong #{`${details.firstName} ${details.lastName}`}
                                .row.justify-content-between
                                    .col-auto
                                        a(href='/details-member/'+details.clientId).btn.btn-info.shadow-lg Back
                                    .col-auto
                                        a(href='/').btn.btn-primary.text-white.shadow-lg Go to homepage


                        .col-12.col-lg-5.text-center
                            .state-membership.shadow-sm
                                .row.align-items-baseline.h-100
                                    .col-5
                                        h6.card-title Subscription Status
                                    .col-7
                                        if !details.statusMonthly
                                            .alert.alert-danger.shadow(role='alert')
                                                strong  (You have to add a new session) 
                                        else
                                            .alert.alert-success.shadow(role='alert')
                                                strong Active
                                    .col-5
                                        h6.card-title Membership Status
                                    .col-7
                                        if !details.statusMembership
                                            .state-member.alert-danger.shadow
                                                | Expired 
                                        else
                                            .state-member.alert-success.shadow
                                                | Active

            hr
            .current-history
                .table-responsive
                    table.example.table.table-hover.table-striped.table-bordered
                        h4.text-center  Added Sessions History 
                        thead.thead-dark
                            tr
                                th(scope='col') #
                                th(scope='col') Sessions Number
                                th(scope='col') Date
                        tbody
                            each val, index in details.startSubscription
                                tr
                                    td= index + 1
                                    td= val.sessionNumber
                                    td= val.date.toLocaleString().split(',').join(" | Time: ")

            hr
            .current-history
                .table-responsive
                    h4.text-center  Attendance History 
                    table.example.table.table-hover.table-striped.table-bordered
                        thead.thead-dark
                            tr
                                th(scope='col') #
                                th(scope='col') Training Number
                                th(scope='col') Date
                        tbody
                            each val, index in details.currentSession
                                tr
                                    td= index + 1
                                    td= val.trainNumber
                                    td= val.date.toLocaleString().split(',').join(" | Time: ")

        include _scripts
